body{
    font-size: 20px;
    line-height: 1.5;

    padding-top: 3rem;
}

h3{
  font-size:30px;
  font-family: 'Cinzel', sans-serif;

  margin: auto;
  padding-bottom: 1rem;
}

img{
    width: 60%;
    padding: 2rem;
}

/*card styling*/
figure{
    font-family: 'Fauna One', serif;

    background-color:#F7ECE1;
    color:#9067C6;;

    max-width: 40ch;
    margin: auto;
    text-align: center;

    /*https://www.w3schools.com/cssref/css3_pr_box-shadow.php for box shadow*/
    box-shadow: 3px 5px;

    border: #393433;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
}

figcaption{
  padding: 1rem;
}

/* whole item card clickable effects */
.whole, .whole:visited{
  text-decoration: none;
  display: block;
}

/* button effects */
.order, .order:visited {
    background-color:#8D86C9;
    color: white;

    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    font-size: 20px;
    
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }
  
  /* Hover state */
.order:hover {
  color:black;
  background-color:#9067C6;
}

  /* Click state */
figure:hover{
  background-color:hsl(30, 58%, 85%);
}

/*card active*/
.whole:active{
  color:#9067C6;
}

