body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h3{
  font-size:30px;
  margin: auto;
  padding-bottom: 2rem;
}

img{
    width: 60%;
    object-fit: contain;
}

figure{
    font-family:'Courier New', Courier, monospace;

    background-color:#F7ECE1;
    color:#242038;

    max-width: 40ch;
    margin: auto;
    text-align: center;
    padding: 2rem;

    /*https://www.w3schools.com/cssref/css3_pr_box-shadow.php for box shadow*/
    box-shadow: 3px 5px;

    border: #393433;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
}

.whole, .whole:visited{
  text-decoration: none;
  color: inherit;
}

.order, .order:visited {
    background-color:#8D86C9;
    color: white;
    font-family: "Carter One",serif;
    text-decoration: none;
    font-size: 20px;
   
    
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  /* Hover state */
.order:hover {
    color:  black;
    background-color:#9067C6;
  }

  /* Click state */
figure:hover{
  background-color:hsl(30, 58%, 87%);
}
figure:active{
  color:purple;
}
figcaption:active{
  color:purple;
}
