body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    line-height: 1.5;

}
body
img{
    width: 60%;

}
p{
    color:#242038;
    
    margin: auto;
    
}
.whole{
  display: block;
  
  margin: auto;
  padding: 1rem;
}
.card{
    font-family:'Courier New', Courier, monospace;

    background-color:#F7ECE1;

    max-width: 40ch;
    border-radius: 1rem;
    margin: auto;
    margin-top: 10ch;
    text-align: center;
    padding: 2rem;
}

.order, .order:visited {
    background-color:#8D86C9;
    color: white;
    font-family: "Carter One",serif;
    text-decoration: none;
    font-size: 20px;
   
    
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  /* Hover state */
.order:hover {
    color:  #393433;
    background-color:#9067C6;
  }

  /* Click state */
.order:active {
    background-color: #fcb900;
  }